.currency {
  position: absolute;
  top: 30px;
  left: 15%;
  width: 70vw;
  height: 100vh;
  background-color: white;
  z-index: 999;
  border-radius: 10px;
}

.has2 {
  margin-top: 20px;
  margin-left: 10px;
}

.Scurrency {
  display: flex;
  flex-wrap: wrap;
}

.para {
  margin-top: 7px;
  border: 1px solid none;
  margin-left: 10px;
  width: 200px;
  height: 64px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.para:hover {
  background-color: rgb(232, 228, 228);
  transition: 0.5s;
}

.Acurrency {
  display: flex;
  flex-wrap: wrap;
}
